<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<main role="main">

      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Formulario de registro</strong></h4>              
          <div class="card-body">
            <form th:action="@{/signup}" method="post" th:object="${usuario}">              
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba su nombre" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Escriba su correo electrónico" required="required">
                  </div> 
                </div>    
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Escriba su nombre de usuario" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Escriba su clave de acceso" required="required">
                  </div>
                </div>
              </div>                  
              <hr>
              <button type="submit" title="Quiero registrarme." class="btn btn-primary">Registrarse</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:replace="layout/layout :: footer" class="footer"></footer>
  </body>
</html>