<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:fragment="head">
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		
		<title th:if="${titulo != null}" th:text="${titulo}">EmpleosApp | Aplicación para publicar Ofertas de Trabajo.</title>
		<title th:unless="${titulo != null}" th:text="EmpleosApp"></title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
		<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
		<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
	</head>

	<body>
	
		<header th:fragment="header">
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" th:href="@{/}">EmpleosApp</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarsExampleDefault"
					aria-controls="navbarsExampleDefault" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
							<a class="nav-link" th:href="@{/solicitudes/indexPaginate}">Solicitudes</a>
						</li>
						<li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
							<a class="nav-link" th:href="@{/vacantes/indexPaginate}">Vacantes</a>
						</li>
						<li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
							<a class="nav-link" th:href="@{/categorias/indexPaginate}">Categorias</a>
						</li>
						<li class="nav-item" sec:authorize="hasAnyAuthority('ADMINISTRADOR')">
							<a class="nav-link" th:href="@{/usuarios/indexPaginate}">Usuarios</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/about}">Acerca</a>
						</li>
					</ul>
					<div sec:authorize="isAnonymous()">
						<a class="btn btn-primary" th:href="@{/index}">Iniciar Sesión</a>&nbsp;
						<!-- <a class="btn btn-primary" th:href="@{/signup}">Registrarse</a>&nbsp; -->
					</div>
					<div sec:authorize="isAuthenticated()">
						<span class="text-light">Bienvenido </span>&nbsp;<span class="text-light" sec:authentication="name"></span>&nbsp;
						<a class="btn btn-primary" th:href="@{/logout}">Cerrar Sesión</a>&nbsp;
					</div>
				</div>
			</nav>
		</header>
		
		<div class="container">
			<!-- 
			<h1 th:text="${mensaje}"></h1>
			<h2>Hoy es [[${fecha}]]</h2>
			-->
		</div>
		
		<footer th:fragment="footer" class="footer">
			<div class="container">
				<p>
					&copy; 2019 EmpleosApp, Inc. | WebApp Desarrollada con Spring Boot
					2.1.2 | Autor: Iv&aacute;n E. Tinajero D&iacute;az | &middot; <a
						href="#">Privacy</a> &middot; <a href="#">Terms</a>
				</p>
			</div>
		
			<!-- Bootstrap core JavaScript
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
			<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
			<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
			<script th:src="@{/tinymce/tinymce.min.js}"></script>
		</footer>
		
	</body>
</html>
