<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>


	<main role="main">
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<img class="rounded mx-auto d-block" th:src="@{'/logos/' + ${vacante.imagen}}"
									alt="Generic placeholder image" width="200">
				</div>
				<div class="col-md-9">
					<div class="card">
						<h4 class="card-header">
							Aplicar para la vacante <strong><span th:text="${vacante.nombre}"></span></strong>
						</h4>
						<div class="card-body">
							<h5 class="card-title">
								<strong>Categoría: </strong><span th:text="${vacante.categoria.nombre}">Nombre la categoría</span>
							</h5>
							<h6 class="card-title">
								<strong>Publicado: </strong><span th:text="${#dates.format(vacante.fecha, 'dd-MM-yyyy')}">2019-01-01</span>
							</h6>
							<h6 class="card-title">
								<strong>Salario Ofrecido: </strong><span th:text="${vacante.salario}">$9000</span>
							</h6>
							<p class="card-text" th:text="${vacante.descripcion}">La descripción corta de la oferta de
								trabajo</p>
							<hr>
							<form th:action="@{/solicitudes/save}" method="post" enctype="multipart/form-data" th:object="${solicitud}">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="comentarios">Comentarios</label>
											<textarea class="form-control" name="comentarios" th:field="*{comentarios}" id="comentarios" rows="2"></textarea>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="archivoCV">Curriculm Vitae</label>
											<input type="file" class="form-control-file" name="archivoCV" id="archivoCV" required>
											<p class="help-block">Archivos [ pdf,doc,docx ]</p>
										</div>
									</div>
								</div>
								<hr>
								<input type="hidden" th:name="vacante.id" th:value="${vacante.id}">
								<button type="submit" title="Enviar mi Solicitud." class="btn btn-primary">Enviar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /container -->

	</main>

	<footer th:replace="layout/layout :: footer" class="footer"></footer>
</body>
</html>
