<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<main role="main">
		<hr>
		<div class="container">
			<div class="card">
				<h4 class="card-header">
					Acerca de <strong>Empleos App</strong>
				</h4>
				<div class="card-body">
					<p> Aplicación para Publicar Ofertas de Trabajo desarrollada con
						Spring Boot.
					</p>
				</div>
			</div>
		</div>
		<!-- /container -->

	</main>

	<footer th:replace="layout/layout :: footer" class="footer"></footer>

</body>

</html>
